.heading {
  box-sizing: border-box;
  font-family: var(--typography-font-family);
  color: var(--colors-text-primary);
  margin: 0;
  padding: 0;
  line-height: var(--typography-line-height-heading);
  font-weight: var(--typography-font-weight-regular);
}

.h1 {
  font-size: var(--typography-sizes-heading-h1);
  font-weight: var(--typography-font-weight-bold);
}

.h2 {
  font-size: var(--typography-sizes-heading-h2);
  font-weight: var(--typography-font-weight-bold);
}

.h3 {
  font-size: var(--typography-sizes-heading-h3);
  font-weight: var(--typography-font-weight-semi-bold);
}

.h4 {
  font-size: var(--typography-sizes-heading-h4);
  font-weight: var(--typography-font-weight-semi-bold);
  line-height: var(--typography-line-height-base);
}

.h5 {
  font-size: var(--typography-sizes-heading-h5);
  font-weight: var(--typography-font-weight-medium);
  line-height: var(--typography-line-height-base);
}

.h6 {
  font-size: var(--typography-sizes-heading-h6);
  font-weight: var(--typography-font-weight-medium);
  line-height: var(--typography-line-height-base);
}